body{
    background-image: url(https://www.hlimg.com/images/stories/738X538/2%20Amazing%20Australia%20Tour_1454503969u20.jpg?w=480&dpr=2.6);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 80%;
    height: 100px;
    margin: 0px auto;
}

.container ul{
    padding: 0px;
}

.container ul li{
    float: left;
    background-color: black;
    color: white;
    width: 200px;
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    opacity: 0.6;
}

.container ul li ul{
    display: none;
}

.container ul li:hover > ul{
    display: block;
}

.container ul li:hover{
    background-color: blue;
    color: black;
    opacity: 0.9;
}

.container ul li ul li{
    position: relative;
}

.container ul li ul li ul{
    position: absolute;
    left: 200px;
    top: 0px;
}